# Data Science and Ecosystem

  In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Handle markdown cells 
* Insert bold letters
* Practice knoledge acquired

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------|
| VS Code |
| Jupiter Notebook |
| Theia |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#  This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
# Diego Felipe Pacheco

In [ ]:
#